@model List<CityWeatherInfo>

<h1>Weather Information for Cities</h1>


@if (Model != null && Model.Count > 0)
{
    <table>
        <tr>
            <th>City</th>
            <th>Country</th>
            <th>Temperature</th>
            <th>Clouds</th>
            <th>Wind Speed</th>
        </tr>
        @foreach (var cityWeather in Model)
        {
            <tr>
                <td>@cityWeather.City</td>
                <td>@cityWeather.Country</td>
                <td>@cityWeather.Temperature</td>
                <td>@cityWeather.Clouds</td>
                <td>@cityWeather.WindSpeed</td>
            </tr>
        }
    </table>
}
else
{
    <p>No weather data available.</p>
}
